/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*BODY*/


body {
  background: rgba(19, 23, 31, 1);
  /*background: linear-gradient(180deg, #E68673 0%, #E67373 32.96%, #E673B1 65.25%, #7393E6 100%);*/
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2vh 0px 0px 0px;
}


/*ICON*/






/*MODULES*/

/*sections*/
#flex-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-Start;
  margin: 2vh 0px 0px 0px;
}

/*titles*/
#flex-container > div > p {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #7393E6;
  margin: 0px 0px 4px 8px;
}

/*sliders*/
#flex-container > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#coffee-slider, div#ratio-slider, div#water-slider, div#timer-slider {
  background: #212738;
  border: 2px solid #0E0F12;
  box-sizing: border-box;
  border-radius: 20px;
  width: 340px;
  height: 84px;
}

#flex-container > div > div > p {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 118px;
  font-size: 30px;
  line-height: 30px;
  color: #FBFAF8;
}

#flex-container > div > div p:nth-child(odd) {
  color: #1A1F2B;
}

/*---COFFEE*/


/*---RATIO*/


/*---WATER*/
