/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*BODY*/

body {
		background: #13171F;
		height: 99.4vh;
		border-width: 2px;
		border-style: solid;
	  border-image-slice: 1;
		border-image-source: linear-gradient(180deg, #E68673 0%, #E67373 32%, #E673B1 65%, #7393E6 100%);
		overflow-x: hidden;
    overflow-y: hidden;
    touch-action: none;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#flex-container > div:nth-child(1) {
	margin: 4vh 0vh 2vh 0vh;
}

p, button, input {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*SECTIONS*/
#flex-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-Start;
  margin: 2vh 0px 0px 0px;
}

/*titles*/
#flex-container > div > p {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  margin: 0px 0px 4px 14px;
}

/*sliders*/
#flex-container > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 1rem 1.8rem;
	background: #212738;
  border: 2px solid #0E0F12;
  box-sizing: border-box;
  border-radius: 1.2rem;
  width: 80vw;
  height: 8vh;
	min-height: 86px;
}

/*arrows*/
#flex-container > div > div > span:nth-of-type(1) {
	background:url("./images/left.svg") no-repeat;
	width: 7px;
	height: 22px;
}
#flex-container > div > div > span:nth-of-type(2) {
	background:url("./images/right.svg") no-repeat;
	width: 7px;
	height: 22px;
}

/*3 text boxes*/
#flex-container > div > div > p {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 2.2rem;
  line-height: 2.2rem;
	width: 30%;
  color: #FBFAF8;
}

#flex-container > div > div p:nth-of-type(odd):not(#timer) {
  color: #0E0F12;
	font-size: 1.7rem;
	line-height: 1.7rem;
}

/*---COFFEE*/
#flex-container > div:nth-child(2) > p {
	color: #E58673;
}


/*---RATIO*/
#flex-container > div:nth-child(3) > p {
	color: #E57373;
}


/*---WATER*/
#flex-container > div:nth-child(4) > p {
	color: #E573B1;
}
#flex-container > div > p > span {
	display: inline-block;
	color: #4C5980;
	font-size: 1rem;
	line-height: 1rem;
}


/*---TIMER*/
#flex-container > div:nth-child(5) > p {
	color: #7393E5;
}

#timer-slider button {
	background:url("./images/reset.svg") no-repeat;
	height: 26px;
	width: 22px;
	border: none;
  background-color: transparent;
  font-family: monospace;
	display: flex;
	align-items: center;
	padding: 0px;
}

#timer-slider button:disabled {
	opacity: 0.2;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background:url("./images/play.svg") no-repeat;
    height: 21px;
    width: 18px;
}

input[type=checkbox]:checked + label {
    background:url("./images/pause.svg") no-repeat;
    height: 21px;
    width: 18px;
}
