/*BODY*/


body{
  background: rgba(19, 23, 31, 1);
  background: linear-gradient(180deg, #E68673 0%, #E67373 32.96%, #E673B1 65.25%, #7393E6 100%);
}

p{
  font-family: SF Mono;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: center;
}




/*ICON*/





/*MODULES*/

div#coffee, div#ratio, div#water {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 340px;
height: 110px;
left: 38px;
top: 737px;

}




/*---COFFEE*/


/*---RATIO*/


/*---WATER*/
